@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(8, 56, 110);
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

img {
    margin: 50px 0;
}


a {
    color: #fff;
    display: inline-block;
    margin: 20px 0 50px;
    text-decoration: none;
    font-size: 13px;
}
a:hover {
    opacity: 0.5;
}

select {
    font-family: 'Open Sans', sans-serif;
}

.main {
    text-align: center;
}
.logo {
    position: fixed;
    width: 15vw;
}
.top-left {
    top: -110px;
    left: -10px;
}
.top-right {
    top: -40px;
    right: -70px;
}
.bottom-left {
    bottom: -100px;
    left: -50px;
}
.bottom-right {
    bottom: -70px;
    right: -50px;
}
.form-container {
    width: 450px;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    border-bottom-left-radius: 0;
}

.form-container > h1 {
    padding-top: 50px;
    font-size: 26px;
    color: #083e9e
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-align: left;
    padding: 0 45px;
}

input, select,button {
    padding: 20px 10px;
    border: none;
    background: #edf2f7;
    border-radius: 5px;
    margin: 5px 0 13px; 
    color: #1a202c;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

input:focus {
    outline: none;
}

button {
    background: #083e9e;
    color: #fff;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    margin-bottom: 35px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}